#malicious {
    margin: 106.5px 16px 20px 16px;
    text-align: center;
    background-color: #FFF8EA;
    border-style: solid;
    border-radius: 8px;
    border-color: #DFD8CA;
    border-width: 2px;
}

@media (max-width: 500px) {
    #malicious {
        margin-top: 220px;
    }
}

@media (max-width: 450px) {
    #malicious {
        margin-top: 170px;
    }
}

@media (max-width: 400px) {
    #malicious {
        margin-top: 150px;
    }
}

@media (max-width: 364px) {
    #malicious {
        margin-top: 110px;
    }
}

@media (max-width: 320px) {
    #malicious {
        margin-top: 60px;
    }
}

#maliciousImage {
    margin: 16px auto;
}

#maliciousCheckImage {
    margin-bottom: 5px;
    display: inline;
}

#maliciousTitle {
    font-size: 20px;
    color: #E35F3F;
    margin: 16px 0px;
}

#maliciousContent {
    color: #77736A;
    margin: 16px;
}