#safe {
    margin: 106.5px 16px 106.5px 16px;
    text-align: center;
    background-color: #FFF8EA;
    border-style: solid;
    border-radius: 8px;
    border-color: #DFD8CA;
    border-width: 2px;
}

#safeImage {
    margin: 16px auto;
}

#safeCheckImage {
    margin-bottom: 3px;
    display: inline;
}

#safeTitle {
    font-size: 20px;
    color: #168C68;
    margin: 16px 0px;
}

#safeContent {
    color: #77736A;
    margin: 16px;
}