body {
    color: #434343;
    background-color: #EFE8DB
}

.Button {
    color: black;
    background-color: white;
}

#reportTitle {
    padding: 0.3rem 0rem 0.4rem 0rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

#reportMalicious {
    padding: 0.8rem 0.5rem 0.5rem 0.5rem;
}

#reportCampaignIcon {
    vertical-align: middle;
}

#reportMaliciousContent {
    display: inline;
    font-size: 1rem;
    vertical-align: middle;
}

#reportMoreTags {
    padding: 1.2rem 0.5rem 0.5rem 0.5rem;
}

#reportLocalOfferIcon {
    vertical-align: middle;
}

#reportMoreTagsContent {
    display: inline;
    font-size: 1rem;
    vertical-align: middle;
}

#reportMoreDetails {
    padding: 1.2rem 0.5rem 0.5rem 0.5rem;
}

#reportFeedbackIcon {
    vertical-align: middle;
}

#reportMoreDetailsContent {
    display: inline;
    font-size: 1rem;
    vertical-align: middle;
}

.reportButton {
    margin-bottom: 0.7rem;
    border-radius: 0.5rem;
    background-color: #DFD8C9;
}