@font-face {
    font-family: Lato;
    src: url(../../assets/Lato/Lato-Regular.ttf);
}

html, body {
    height: 100%;
    margin: 0;
    min-height: 700px;
}

#root {
    min-height: 100%;
    color: #434343;
    background: #EBE7DA;
    border-radius: 0px;
}

html::-webkit-scrollbar {
    overflow: hidden;
    width: 0px;
}

.Button {
    color: black;
    background-color: white;
}

#reportTitle {
    padding: 16px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}

#reportCampaignIcon {
    vertical-align: middle;
}

#reportMaliciousContent {
    display: inline;
    font-size: 1rem;
    vertical-align: middle;
}

#reportMoreTags {
    padding: 1.2rem 0.5rem 0.5rem 0.5rem;
}

#reportLocalOfferIcon {
    vertical-align: middle;
}

#reportMoreTagsContent {
    display: inline;
    font-size: 1rem;
    vertical-align: middle;
}

#reportMoreDetails {
    padding: 1.2rem 0.5rem 0.5rem 0.5rem;
}

#reportFeedbackIcon {
    vertical-align: middle;
}

#reportMoreDetailsContent {
    display: inline;
    font-size: 1rem;
    vertical-align: middle;
}

.reportButton {
    margin-bottom: 0.7rem;
    border-radius: 0.5rem;
    background-color: #DFD8C9;
}