.tag {
    align-items: center;
    margin: 8px 8px 0px 0px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #DFD8CA;
    color: #77736A;
    height: 16px;
    font-size: 16px;
    line-height: 100%;
}

.tag > button {
    display: inline-block;
    border: none;
    background-color: unset;
    align-items: center;
    cursor: pointer;
    color: #77736A;
}