#tagForm {
    display: flex;
    box-sizing: border-box;
    margin: 0px 16px;
    margin-top: 8px;
    margin-bottom: 16px;
    width: calc(100% - 32px);
    border-radius: 8px;
    border: 2px solid #DFD8CA;
    background-color: #FFF8EA;
    overflow: scroll;
}

#tagFormInput {
    width: 100%;
    min-width: 50%;
    border: none;
    background-color: #FFF8EA;
    padding: 8px 16px;
    font-size: 16px;
}

#tagFormInput:focus, #tagFormInput:hover {
    outline: none;
    border: none;
}

#tagForm:focus, #tagForm:hover {
    outline: none;
    border:2px solid rgba(67, 67, 67, 0.5);
    transition: 0.15s;
}