@font-face {
    font-family: Kiona;
    src: url(../../assets/kiona/Kiona-SemiBold.ttf);
}

@font-face {
    font-family: Kiona-Bold;
    src: url(../../assets/kiona/Kiona-Bold.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../../assets/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-thin;
    src: url(../../assets/Lato/Lato-Light.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 700px;
}

#root {
    width: 400px;
    height: 700px;
    color: #434343;
    background: linear-gradient(180deg, #D2C9AA 0%, rgba(239, 232, 219, 0.75) 48.96%, #D2C9AA 100%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

html::-webkit-scrollbar {
    overflow: hidden;
    width: 0px;
}

a {
    text-decoration: none;
}

#logo {
    padding: 9px 0px 9px 16px;
}

#brandName {
    font-family: Kiona, sans-serif;
    font-size: 24px;
    padding: 15px 0px 15px 16px;
    color: #434343;
}

#extensionHeader {
    display: flex;
    flex-direction: row;
    height: 66px;
    align-items: flex-start;
    background: rgba(255, 248, 234, 0.6);
}

#extensionContent {
    /* height: 30%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    text-align: center;
    background-color: #FFF8EA;
    font-size: 24px;
    width: 80%;
    height: 23%;
    position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    border: 2px solid #DFD8CA;
    border-radius: 8px;
    font-family: Kiona-Bold, sans-serif;
    font-weight: 100;
    color: #434343;
    line-height: 28.8px;
}

#extensionImages {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

#twitter {
    width: 44.36px;
    height: 37.71px;
}

#discord {
    width: 44.92px;
    height: 33.31px;
}

#contact {
    width: 44.89px;
    height: 33.81px;
}

.extensionImage {
    margin-top: 34.55px;
}

#extensionImagesDescription {
    display: flex;
    justify-content: space-around;
    width: 75%;
    font-size: 14px;
    font-family: Kiona;
    font-weight: 600;
    margin-top: 11px;
}

