#tag {
    /* border: solid 0.8px grey; */
    font-size: 0.8rem;
    padding: 0.3rem 1.3rem 0.3rem 1.3rem;
    margin: 0.5rem 0.3rem 0.5rem 0.3rem;
    display: inline-block;
    background-color: #DFD8C9;
    border-radius: 2rem;
}