#contractInfo {
    margin: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #DFD8CA;
    border-radius: 8px;
    background-color: #FFF8EA;
    text-align: center;
}

#infoText {
    padding-top: 16px;
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 18px;
}

#contractText {
    padding-bottom: 16px;
    font-family: Lato-thin, sans-serif;
    font-weight: 900;
    font-size: 13px;
}