#loading {
    /* height: 30%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    text-align: center;
    background-color: #FFF8EA;
    font-size: 20px;
    width: 80%;
    height: 23%;
    position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    border: 2px solid #DFD8CA;
    border-radius: 8px;
    font-family: Lato, sans-serif;
    font-weight: 700;
}

#simulating {
    padding: 16px 0px;
}

#loadingSloth {
    width: 60%;
    height: 60%;
}