#loading {
    height: 100%;
}

#loadingFrame {
    padding: 16px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    text-align: center;
    background-color: #FFF8EA;
    font-size: 20px;
    width: 80%;
    height: 25%;
    border: 2px solid #DFD8CA;
    border-radius: 8px;
    position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    border: 2px #DFDBCA solid;
}

#simulating {
    padding: 16px 0px;
}

#loadingSloth {
    margin-left: auto;
    margin-right: auto;
    width: 246px;
    height: 113px;
}