#info {
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0rem 1rem 1rem 1.2rem;
    border-radius: 0.5rem;
    background-color: #DFD8C9;
}

#infoContent {
    font-size: 1.2rem;
    padding-top: 0.2rem;
    display: inline-block;
}