#assetsOut {
    margin: 16px;
    border-radius: 8px;
    background-color: #FFF8EAFF;
    border: 2px #DFDBCA solid;
}

#assetsOutTitle {
    font-family: Lato, sans-serif;
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 10px;
}

#assetsOutPopOver > .MuiPopover-paper {
    object-fit: fill;
    width: 200px;
    background-color: #FFF8EA !important;
    border: 2px solid #DFD8CA;
    border-radius: 8px !important;
}