#assetsIn {
    margin: 16px;
    border-radius: 8px;
    background-color: #FFF8EA;
}

#assetsInTitle {
    font-family: Lato, sans-serif;
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 10px;
}