.assetsComponent {
    margin: 16px;
    border-radius: 8px;
    background-color: #FFF8EAFF;
    border: 2px #DFDBCA solid;
}

.assetsComponentPopover > .MuiPaper-root {
    object-fit: fill;
    background-color: #FFF8EA !important;
    border: 2px solid #DFD8CA;
    border-radius: 8px !important;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}